.about {
    border-top: 1px solid grey;
    height: 500px;
    padding-bottom: 50px;
    background-color: #7195d1 !important;
}

.about__card {
    margin-top: 30px;
    width: 40%;
    display: flex; 
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
}

.about__card__info {
    width: 50%;
}

.about__card__contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test {
    align-self: center;
    display: flex; 
    justify-content: center;
}