.projects {
    /* background-color: #5784c0 !important; */
    margin-top: 0;
    background-color: #cdc8d1 !important;
}

.projects__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__cards__card {
    margin-top: 30px;
    width: 40%;
    display: flex; 
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.projects__cards__image {
    height: 200px;
    width: auto;
    border: 1px solid grey;
}

.projects__cards__card__info {
    margin-left: 20px;
}