.topMenu {
    flex-grow: 1;
}

.appBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topMenu__social {
    max-width: 50%;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
}